<a href="https://colab.research.google.com/github/Chithra05/Libraries/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
df_dict={"vegetables":['carrot','beans','potato'],
         "fruits":['apple','banana','jackfruit']}
groceries =pd.DataFrame(df_dict)
print(groceries)

  vegetables     fruits
0     carrot      apple
1      beans     banana
2     potato  jackfruit

In [ ]:
groceries.index=["f1","f2","f3"]
print (groceries)

   vegetables     fruits
f1     carrot      apple
f2      beans     banana
f3     potato  jackfruit

In [ ]:
print(groceries['fruits'])

f1        apple
f2       banana
f3    jackfruit
Name: fruits, dtype: object

In [ ]:
print(groceries[['fruits','vegetables']])

       fruits vegetables
f1      apple     carrot
f2     banana      beans
f3  jackfruit     potato

In [ ]:
dates= pd.date_range("20220505" ,periods=6)

In [ ]:
print(dates)

DatetimeIndex(['2022-05-05', '2022-05-06', '2022-05-07', '2022-05-08',
               '2022-05-09', '2022-05-10'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [ ]:
print(df)

                   A         B         C         D
2022-05-05  1.228117 -0.195657 -0.406937  0.364081
2022-05-06  0.403085  0.182079 -2.885963  0.031381
2022-05-07 -1.023764  0.492807  1.269988  0.568091
2022-05-08  2.238456 -0.293462 -1.231551 -1.596193
2022-05-09 -1.281941  0.375974  1.564933 -0.161949
2022-05-10  0.879809 -0.042109 -0.312570 -0.006132

In [ ]:
print(groceries['vegetables'][0])

carrot

In [ ]:
print(groceries['vegetables'][1])

beans

In [ ]:
print(groceries['fruits'][2])

jackfruit

In [ ]:
s = pd.Series([1,2,3,np.nan,5,6])
print(s)

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
dtype: float64

In [ ]:
df2 = pd.DataFrame(
{"A": 1.0,
       "B":pd.Timestamp("20220101"),
       "C":pd.Series(1,index=list(range(4)),dtype="float32"),
       "D":np.array([3]*4,dtype="int32"),
       "E":pd.Categorical(["test","train","test","train"]),
       "F":"foo"}
)

In [ ]:
print(df2)

     A          B    C  D      E    F
0  1.0 2022-01-01  1.0  3   test  foo
1  1.0 2022-01-01  1.0  3  train  foo
2  1.0 2022-01-01  1.0  3   test  foo
3  1.0 2022-01-01  1.0  3  train  foo

In [ ]:
print(df2.dtypes)

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object